<app-tasks-aside></app-tasks-aside>

<ngb-tabset *ngIf="tasks.length">
  <ngb-tab>
    <ng-template ngbTabTitle>
      <button type="button" class="btn btn-secondary btn-heading" (click)="closeComments()">All ({{ tasks.length }})</button>
    </ng-template>
    <ng-template ngbTabContent>
      <ng-container *ngFor="let task of tasks">
        <app-task (closeEE)="close($event)" (openEE)="open($event)" [allLabels]="allLabels" [task]="task"></app-task>
      </ng-container>
    </ng-template>
  </ngb-tab>

  <ngb-tab>
    <ng-template ngbTabTitle>
      <button type="button" class="btn btn-secondary btn-heading" (click)="closeComments()">
       <span class="isMobile"> To do </span>({{ todoTasks.length }})<i class="far fa-meh"></i>
      </button>
    </ng-template>
    <ng-template ngbTabContent>
      <ng-container *ngFor="let task of todoTasks">
        <app-task (closeEE)="close($close)" (openEE)="open($event)" [task]="task"></app-task>
      </ng-container>
    </ng-template>
  </ngb-tab>

  <ngb-tab>
    <ng-template ngbTabTitle>
      <button type="button" class="btn btn-secondary btn-heading" (click)="closeComments()">
     <span class="isMobile">Done </span>   ({{ doneTask.length }}) <i class="far fa-laugh"></i>
      </button>
    </ng-template>
    <ng-template ngbTabContent>
      <ng-container *ngFor="let task of doneTask; ">
        <app-task (closeEE)="close($close)" (openEE)="open($event)" [task]="task"></app-task>
      </ng-container>
    </ng-template>
  </ngb-tab>

  <ngb-tab>
    <ng-template ngbTabTitle>
      <button type="button" class="btn btn-secondary btn-heading" (click)="closeComments()">
     <span class="isMobile"> Outdated </span>  ({{ outdatedTasks.length }}) <i class="far fa-frown"></i>
      </button>
    </ng-template>
    <ng-template ngbTabContent>
      <ng-container *ngFor="let task of outdatedTasks;">
        <app-task (closeEE)="close($close)" (openEE)="open($event)" [task]="task"></app-task>
      </ng-container>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
