<div class="part part-2" [formGroup]="newTaskForm">
  <label for="form-date" class="group-title">Due date</label>
  <div class="input-group-append">
    <div class="d-inline-flex">
      <input
        id="form-task"
        class="form-control"
        placeholder="yyyy-mm-dd"
        name="dp"
        ngbDatepicker
        #d="ngbDatepicker"
        formControlName="dueDate"
    
      />
      <button class="btn" (click)="d.toggle()" type="button"><i class="far fa-calendar-alt"></i></button>
    </div>
  </div>
  <div *ngIf="dueDate.invalid && (dueDate.dirty || dueDate.touched)" class="alert alert-danger">
    <div *ngIf="dueDate.errors.required">Due date is required.</div>
  </div>
</div>
