
<a routerLink="/tasks" class="btn btn-secondary">Back</a>  

<form class="new-task-form" [formGroup]="newTaskForm" (ngSubmit)="onSubmit()">
  
  <app-description  [newTaskForm]="newTaskForm" ></app-description>
  
  <app-due-date  [newTaskForm]="newTaskForm" ></app-due-date>
  <app-importance [newTaskForm]="newTaskForm" ></app-importance>
  <app-labels
    [labels]="labels"
    [allLabels]="allLabels"
    (removeLabelEE)="removeLabel($event)"
    (addNewLabelEE)="addNewLabel($event)"
    (addPrevLabelEE)="addPrevLabel($event)"
  ></app-labels>
  <app-color [newTaskForm]="newTaskForm" [taskColors]="taskColors"></app-color>

  <button type="submit" [disabled]="newTaskForm.invalid" class="btn btn-primary btn-lg">Submit</button>
</form>
